footer {
  width: 100%;
  border-top: 1px solid #dec129;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #fff;

  h3 {
    margin-bottom: 0.2em;
  }

  span {
    font-weight: bold;
    color: #dec129;
  }
}
