$text-color: #444;
$links-color: #dec129;

* {
  padding: 0;
  margin: 0;
  font-family: Cambria;
  box-sizing: border-box;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $text-color;
  transition: 0.4s;

  &:hover {
    color: $links-color;
  }
}

/* FORM */
form {
  width: 450px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  label {
    font-weight: bold;
    font-size: .9em;
    margin-bottom: .4em;
  }

  input, textarea {
    padding: .6em;
    color: #777;
    font-size: .8em;
  }
}

input[type="submit"] {
  background-color: #efefef;
  border: 2px solid transparent;
  padding: .6em 1em;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: .4s;

  &:hover {
    color: $links-color;
    border-color: $links-color;
    background-color: transparent;
  }
}
