@media screen and (min-width: 1000px) and (min-height: 850px) {
  form {
    font-size: 120%;
  }
}

textarea {
  min-height: 6em;
  max-height: 9em;
  min-width: 100%;
  max-width: 100%;
}

input[type="submit"] {
  margin-top: 10px;
}
